@mixin aspect-clip($w: 4, $h: 3) {
	position: relative;
	width: 100%;
	padding-top: 100% / $w * $h;
	overflow: hidden;

	&>img,
	&>svg,
	&>video,
	&>canvas,
	&>.video,
	&>iframe,
	&>div {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

body {
	background: black;
}

.game-container {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 40px;
	background: #3b6d4e;
	border: 3px solid black;
	box-sizing: border-box;

	&>.left,
	&>.right {
		flex: 0 0 20%;
		min-width: 20%;
		display: flex;
		flex-direction: column;
	}

	&>.left {
		justify-content: center;
	}

	&>.center {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.progress {
	position: relative;
	width: 100%;
	height: 10px;
	background: white;

	&__bar {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0;
		background: red;
	}
}

.game {
	width: 100%;
	max-width: calc(100vh - 120px);
	box-sizing: border-box;

	&>.inner {
		@include aspect-clip(1, 1);
	}
}
